.dashboard_section {
    .title{
        margin: 25px 0;
        .rBox{
            display: flex;
            align-items: center;
            .form-group{
                &.send_form_box{
                    margin-right: 6px;
                    .form-select{
                        border-radius: 35px;
                        padding: 3px 30px 3px 10px;
                        font-size: 14px;
                        color: #656565;
                    }
                }
            }
        }
        &.graph_title{
            margin-top: 0;
        }
    }
}