<section class="dashboard_section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box physician">
                            <div class="circle"></div>
                            <div class="lBox">
                                <h5>Physicians</h5>
                                <p>
                                    {{ physiciansCount }}
                                </p>
                            </div>
                            <div class="rBox">
                                <img src="../../assets/images/doc_card.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="box nurshing">
                            <div class="circle"></div>
                            <div class="lBox">
                                <h5>Nurses</h5>
                                <p>
                                    {{ nursesCount }}
                                </p>
                            </div>
                            <div class="rBox">
                                <img src="../../assets/images/nurse_card.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="title">
                    <h4>Physicians</h4>
                    <a [routerLink]="['../physicians']">View All</a>
                </div>

                <div class="physician_box">
                    <div class="table-responsive border-1 dashboard_physicain_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Contact No.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let physicians of physiciansData">
                                    <td>
                                        <div class="imgBox">
                                            <img *ngIf="!physicians.image" src="../../../assets/images/doctor.png"
                                                class="img-fluid" alt="" />
                                            <img *ngIf="physicians.image" [src]="physicians.image" class="img-fluid" />

                                            <span>{{ physicians.name }}</span>
                                        </div>
                                    </td>
                                    <td>{{ physicians.email }}</td>
                                    <td>{{ physicians.contact }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div class="col-md-5">
                <div class="title graph_title">
                    <div class="lBox">
                        <a href=""><span class="chat_status"></span> Text Messages</a>
                        <a href="" class="fax_btn"><span class="fax_status"></span> Fax</a>
                    </div>
                    <div class="rBox">
                        <div class="form-group send_form_box">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Send</option>
                                <option value="1">Noida </option>
                            </select>
                        </div>
                        <a href="#">D</a>
                        <a href="#" class="weekly_btn">W</a>
                        <a href="#" style="border-color: #64BD05; color: #64BD05;">M</a>
                    </div>
                </div>
                <div class="chart_box"><img src="../../assets/images/graph-chart.png" class="img-fluid" alt=""></div>

                <div class="title my-4">
                    <h4>Nurses</h4>
                    <a [routerLink]="['../nurses']">View All</a>
                </div>

                <div class="table-responsive border-1 dashboard_nurse_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let nurses of nursesData">
                                <td>
                                    <div class="imgBox">
                                        <img *ngIf="!nurses.image" src="../../../assets//images/nurselogo.png" class="img-fluid"
                                            alt="" />
                                        <img *ngIf="nurses.image" [src]="nurses.image" class="img-fluid" />

                                        <span>{{ nurses.name }}</span>
                                    </div>
                                </td>
                                <td>{{nurses.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>