<div id="chat-room">
    <h2>{{ username }}</h2>
    <span><i *ngIf="isTyping" class="isTyping">typing...</i></span>
    <div id="chat-window">
        <div *ngFor="let item of messageArray">
            {{item|json}}
            <p [style.color]="(item.user == username) ? 'red':'black'">{{ item.message }}</p>                
        </div>
    </div>
    <input (keypress)="typing()" [(ngModel)]="message" name="message" type="text" placeholder="Message" />            
    <button id="send" (click)="sendMessage()">Send</button>    
</div>