<div class="container">
    <nav class="inner_nav">
        <div class="navbar-title">
              <a [routerLink]="['dashboard']"><span *ngIf="role == 'nursing_home'">{{ username }}</span><span *ngIf="role != 'nursing_home'">Hello, {{ username }}!</span></a>
        </div>
        <div class="admin_box">
          <div class="form-group" *ngIf="role == 'admin'">
              <select class="form-select" aria-label="Default select example" (change)="filterByStatus($event)" >
              <option *ngFor="let dropList of nursingHomeList" [value]="dropList._id">{{ dropList.name }}</option>    
              </select>
              <i class="fa-solid fa-angle-down"></i>
          </div>
          <div class="bell_icon">
              <span><img src="../../../assets/images/bell.png" class="img-fluid" alt=""></span>
          </div>
          <div class="avtar_box">
              <span><img *ngIf="imageURL" [src]="imageURL" class="img-fluid" alt=""></span>

          </div>
        </div>
    </nav>
</div>