<section class="dashboard_section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">

                <div class="title">
                    <h4>Nurses</h4>
                    <a [routerLink]="['../nurses']">View All</a>
                </div>

                <div class="physician_box">
                    <div class="table-responsive border-1 dashboard_physicain_table">
                        <table mat-table [dataSource]="nursesDataSource" matSort class="table mat-elevation-z8">
  
                            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->
                
                            <!-- Position Column -->
                            <ng-container matColumnDef="name">
                              <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
                              <td mat-cell *matCellDef="let element">
                                <div class="imgBox">
                                  <img *ngIf="!element.image || element.image == 'null'" src="../../assets/images/nurselogo.png"
                                    class="img-fluid" alt="">
                                  <img *ngIf="element.image && element.image != 'null'" [src]=element.image class="img-fluid">
                                  <span>{{element.name}}</span>
                                </div>
                              </td>
                            </ng-container>
                
                            <!-- Name Column -->
                            <ng-container matColumnDef="email">
                              <th mat-header-cell mat-sort-header *matHeaderCellDef> Email </th>
                              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>
                
                            <!-- Weight Column -->
                            <ng-container matColumnDef="contact">
                              <th mat-header-cell mat-sort-header *matHeaderCellDef> Contact </th>
                              <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
                            </ng-container>
                
                            <tr mat-header-row *matHeaderRowDef="displayedNursesColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedNursesColumns;"></tr>
                
                            <tr class="mat-row" *matNoDataRow>
                              <td class="mat-cell" [attr.colspan]="displayedNursesColumns.length">
                                No records found.
                              </td>
                            </tr>
                          </table>
                    </div>
                </div>

            </div>

            <div class="col-md-5">

                <div class="title my-4">
                    <h4>Nursing Homes</h4>
                    <a [routerLink]="['../nursing-homes']">View All</a>
                </div>

                <div class="table-responsive border-1 dashboard_nurse_table">
                    <table mat-table [dataSource]="nursingHomesDataSource" matSort class="table mat-elevation-z8">
  
                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->
            
                        <!-- Position Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
                          <td mat-cell *matCellDef="let element">
                            <div class="imgBox">
                              <img *ngIf="!element.image || element.image == 'null'" src="../../assets/images/nursing-room.png"
                                class="img-fluid" alt="">
                              <img *ngIf="element.image && element.image != 'null'" [src]=element.image class="img-fluid">
                              <span>{{element.name}}</span>
                            </div>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="location">
                          <th mat-header-cell mat-sort-header *matHeaderCellDef> Location </th>
                          <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                        </ng-container>
            
                        <tr mat-header-row *matHeaderRowDef="displayedNursingHomeColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedNursingHomeColumns;"></tr>
            
                        <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell" [attr.colspan]="displayedNursingHomeColumns.length">
                            No records found.
                          </td>
                        </tr>
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>