<section class="reset_password_section">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5">
                <img src="../../assets/images/login.png" class="img-fluid login_icon" alt="">
                <h3>Reset Your Password</h3>

                <span class="link_text">We'll send you a link on your email id to reset your password.</span>
                <div class="form_box">
                    <form [formGroup]="resetPasswordForm">
                        <div class="form-group">
                            <label for="" class="form-label">New Password</label>
                            <div class="input_box">
                                <input [type]="password" class="form-control" placeholder="test@123" (keyup)="validatePassword()"
                                    formControlName="password">
                                <i class="fa-solid fa-eye-slash cursor" (click)="togglePassword()"
                                    *ngIf="password === 'password'"></i>
                                <i class="fa-solid fa-eye cursor" (click)="togglePassword()"
                                    *ngIf="password === 'text'"></i>
                                <div *ngIf="formControls.password.touched && formControls.password.invalid">
                                    <small class="text-danger" *ngIf="formControls.password.errors.required">
                                        New Password Is required.
                                    </small>
                                    <small class="text-danger" *ngIf="formControls.password.errors?.minlength">
                                    Minimum length of new password should be 6.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label">Confirm New Password</label>
                            <div class="input_box">
                                <input [type]="confirm_password" class="form-control" placeholder="test@123" (keyup)="validatePassword()"
                                    formControlName="confirm_password">
                                <i class="fa-solid fa-eye-slash cursor" (click)="toggleConfirmPassword()"
                                    *ngIf="confirm_password === 'password'"></i>
                                <i class="fa-solid fa-eye cursor" (click)="toggleConfirmPassword()"
                                    *ngIf="confirm_password === 'text'"></i>
                                <div *ngIf="formControls.confirm_password.touched && formControls.confirm_password.invalid">
                                    <small class="text-danger" *ngIf="formControls.confirm_password.errors.required">
                                        Confirm Password Is required.
                                    </small>
                                    <small class="text-danger" *ngIf="formControls.confirm_password.errors?.minlength">
                                    Minimum length of confirm password should be 6.
                                    </small>
                                </div>
                                <div *ngIf="showNotMatchedMessage">
                                    <small class="text-danger">
                                        {{ notMatchedMessage }}
                                    </small>
                                </div>
                            </div>
                        </div>
                        <button class="login_btn" [disabled]="submitDisabled" 
                            (click)="submitResetForm()">Submit</button>
                    </form>
                </div>
            </div>

            <div class="col-md-5">
                <div class="rBox">
                    <img src="../../assets/images/login_bg.png" class="img-fluid login_bg" alt="">
                    <img src="../../assets/images/rImg.png" class="img-fluid" alt="">
                    <h2>Dock <span>Nock</span></h2>
                    <p>A Communication <span>Lifeline</span></p>
                </div>
            </div>
        </div>
    </div>
</section>