.dashboard_section{
    .nurse_admin_btn{
        text-align: center;
        max-width: 315px;
        width: 100%;
        display: flex;
        a{
            display: inline-block;
            background: #64BD05;
            color: #fff;
            border-radius: 30px;
            font-size: 16px;
            font-weight: 300;
            padding: 10px 5px;
            width: 100%;
            i{
                margin-right: 5px;
            }
        }
        .export_data_btn{
            margin-right: 5px;
            background: #1011D4;
        }
    }

    .border-1{
        .shift_box{
            position: relative;
            .hover_message{
                display: none;
                position: absolute;
                border: 1px solid #fff;
                border-radius: 8px;
                box-shadow: 0px 0px 13px #00000029;
                background: #fff;
                right: -40px;
                top: 0;
                padding: 12px 7px;
                transition: all 0.2s ease-in-out;
                &.arrow-left::after{
                    content: " ";
                    position: absolute;
                    left: -15px;
                    top: 8px;
                    border-top: 10px solid transparent;
                    border-right: 15px solid #fff;
                    border-left: none;
                    border-bottom: 15px solid transparent;
                    
                }
                h6{
                    font-size: 13px;
                    color: #272727;
                }
                p{
                    display: flex;
                    justify-content: flex-start;
                    align-items: baseline;
                    font-size: 11px;
                    margin-top: 5px;
                    color: #656565;
                    span{
                        display: inline-block;
                        min-width: 35px;
                    }
                    i{
                        margin-right: 5px;
                        color: #64BD05;
                    }
                }
            }
            a{
                display: flex;
                align-items: center;
                span{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #64BD05;
                    font-size: 12px;
                    color: #656565;
                    background: #fff;
                }
                &:first-child{
                    span{
                        margin-left: -3px;
                    }
                }
            }
            &:hover{
                .hover_message{
                    display: block;
                }
            }
        }
    }
}


@media (max-width: 1536px){
    .dashboard_section {
        .border-1{
            .shift_box {
                .hover_message {
                    right: -70px;
                }
            }
        }
    }
}


// .mat-dialog-container{
    .edit_nurshHome_modal{
        min-width: 400px;
        .modal-content{
        }
        .modal-header{
            border-bottom: none;
            padding-bottom: 0;
            .modal-title{
              font-size: 17px;
              font-weight: 600;
              color: #272727;
            }
            .btn-close{
              margin: 0;
              right: 0;
              top: 0;
              font-size: 18px;
              z-index: 99999;
              line-height: 0;
              color: #000;
              background: none;
              &:focus{
                box-shadow: none;
              }
            }
        }
        .modal-body{
            padding-top: 0;
            .cardBox{
                label{
                    font-size: 15px;
                    color: #656565;
                    font-weight: 500;
                    margin-bottom: 5px;
                }
                .profile_pic{
                    .outerBox{
                        position: relative;
                        .imgBox{
                            position: relative;
                            height: 65px;
                            width: 65px;
                            margin: 10px 0;
                            border-radius: 50%;
                            overflow: hidden;
                            box-shadow: 0px 4px 7px 0px rgba(189, 219, 249 , 0.36%);
                            transition: all 0.1s ease;
                            border: 1px solid #707070;
                            &:hover{
                                transform: scale(1.02);
                                cursor: pointer;
                            }
                            &:hover .profile-pic{
                                opacity: .5;
                            }
                            .profile-pic {
                                height: 100%;
                                width: 100%;
                                transition: all .1s ease;
                                &:after{
                                    font-family: FontAwesome;
                                    content: "\f007";
                                    top: 0; left: 0;
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    font-size: 30px;
                                    background: #ecf0f1;
                                    color: #34495e;
                                    text-align: center;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                            .upload-button {
                                position: absolute;
                                top: 50%; 
                                left: 50%;
                                transform: translate(-50%, -50%);
                                height: 100%;
                                width: 100%;
                                .fa-arrow-circle-up{
                                    position: absolute;
                                    font-size: 30px;
                                    top: 50%; 
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    text-align: center;
                                    opacity: 0;
                                    transition: all .1s ease;
                                    color: #34495e;
                                }
                                &:hover .fa-arrow-circle-up{
                                    opacity: .9;
                                }
                            }
    
                            svg{
                                width: 24px;
                            }
                            img{
                                border-radius: 50%;
                            }
                        }
                        .edit_icon{
                            position: absolute;
                            top: 0px;
                            left: 45px;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            background: #64bd05;
                            cursor: pointer;
                            color: #fff;
                            font-size: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .remove_icon{
                            position: absolute;
                            left: 80px;
                            bottom: 0;
                            color: #E71F00;
                            font-weight: 500;
                            font-size: 14px;
                        }
                    }
                }
    
                .form-group{
                    margin: 15px 0;
                    background: #fff;
                    .form-control,.form-select{
                        border: 1px solid #DDDDDD;
                        border-radius: 30px;
                        padding: 10px;
                        font-size: 15px;
                        &:focus{
                            box-shadow: none;
                        }
                        &::placeholder{
                            color: #9B9B9B;
                        }
                    }
                }

                .form-group{
                    margin: 5px 0;
                    .form-control{
                        &.text_area{
                            border-radius: 10px;
                        }
                    }
                }
                .modal_shift_box{
                    display: flex;
                    align-items: center;

                    .multi_inp_box{
                        .multi_inp_box_inner{
                            display: flex;
                        }
                    }
                    .form-group{
                        max-width: 72px;
                        margin-right: 6px;
                        .form-control{
                            border-radius: 4px;
                            padding:4px 5px;
                            font-size: 13px;
                        }
                    }
                    .plus_icon{
                        display: inline-block;
                        margin-right: 6px;
                    }
                    .erase_icon{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: #E71F00;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 8px;
                        font-size: 12px;
                    }
                    .add_slot{
                        display: inline-block;
                        font-size: 13px;
                        color: #1112E9;
                        i{
                            font-size: 12px;
                        }
                    }
                    .form-check{
                        min-width: 60px;
                        max-width: 60px;
                        margin-bottom: 0;
                        .form-check-label{
                            margin-bottom: 0;
                            font-weight: 400;
                            font-size: 13px;
                        }
                        .form-check-input{
                            border-color: #DDDDDD;
                            &:checked{
                                background-color: #64BD05;
                                border-color: #64BD05;
                                box-shadow: none;
                            }
                            &:focus{
                                box-shadow: none;
                                border-color: #DDDDDD;
                            }
                        }
                    }
                }
            }
        }

        .pay_submit_box{
            margin-top: 15px;
            text-align: right;
            .pay_submit_btn{
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            max-width: 75px;
            width: 100%;
            text-align: center;
            padding: 8px 0px;
            background: #64BD05;
            border-radius: 30px;
            border: none;
            }
            .cancel_btn{
                border: none;
                color: #656565;
                background: none;
                margin-right: 10px;
            }
            .save_btn{
                display: inline-block;
                font-size: 14px;
                font-weight: 400;
                color: #fff;
                max-width: 135px;
                width: 100%;
                text-align: center;
                padding: 8px 0px;
                background: #64BD05;
                border-radius: 30px;
                border: none;
            }
        }

    }
// }
