<section class="nurshing_chat_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="assist_box">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="chat-tab" type="button"
                                [ngClass]="{'active': selectedTab == 1}" (click)="toggleSelectedTab(1)">Chat</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link fax" type="button" [ngClass]="{'active': selectedTab == 2}"
                                (click)="toggleSelectedTab(2)">New Chat</button>
                        </li>
                    </ul>
                    <div class="form-group">
                        <input type="text" placeholder="Search" (keyup)="applyFilter($event)" class="form-control">
                        <i class="fa-solid fa-search"></i>
                    </div>

                    <div class="create_group" *ngIf="loggedInUserRole == 'physician'">
                        <a class="cursor" (click)="openAddGroupDialog()"><i class="fas fa-plus"></i> Create Group</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="chat_box">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="innerBox">
                                <div class="chat_list" [ngClass]="{'d-block': selectedTab == 1, 'd-none': selectedTab == 2}">
                                    <div class="table-responsive">
                                        <table mat-table [dataSource]="allGroupsChat" class="table mat-elevation-z8">

                                            <ng-container matColumnDef="groupName">
                                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                                <td mat-cell *matCellDef="let element">
                                                    <div class="nav flex-column nav-pills">
                                                        <button [routerLink]="[element._id]"
                                                            [routerLinkActive]="['active']" class="nav-link "
                                                            type="button">
                                                            <span *ngIf="!element.isGroupChat">
                                                                <img class="img-fluid profile-pic"
                                                                    *ngIf="!element.image || element.image == 'null'"
                                                                    [src]="getDummyImage(element.role)" alt="">
                                                                <img class="img-fluid profile-pic"
                                                                    *ngIf="element.image && element.image != 'null'"
                                                                    [src]="element.image">
                                                            </span>
                                                            <span *ngIf="element.isGroupChat">
                                                                    <img class="img-fluid profile-pic"
                                                                        [src]="getDummyImage('group')" alt="">
                                                            </span>
                                                            {{ element.chatName }}
                                                        </button>
                                                    </div>

                                                </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="chatsDisplayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: chatsDisplayedColumns;"></tr>

                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell" [attr.colspan]="chatsDisplayedColumns.length">
                                                    No records found.
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="chat_list" [ngClass]="{'d-block': selectedTab == 2, 'd-none': selectedTab == 1}">
                                    <div class="table-responsive">
                                        <table mat-table [dataSource]="dataSource" class="table mat-elevation-z8">

                                            <ng-container matColumnDef="groupName">
                                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                                <td mat-cell *matCellDef="let element">
                                                    <div class="nav flex-column nav-pills">
                                                        <button (click)="createChatRoome(element._id)"
                                                            [routerLinkActive]="['active']" class="nav-link "
                                                            type="button">
                                                            <span>
                                                                <img class="img-fluid profile-pic"
                                                                    *ngIf="!element.image || element.image == 'null'"
                                                                    [src]="getDummyImage(element.role)" alt="">
                                                                <img class="img-fluid profile-pic"
                                                                    *ngIf="element.image && element.image != 'null'"
                                                                    [src]="element.image">
                                                            </span>
                                                            {{ element.name }}
                                                        </button>
                                                    </div>

                                                </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="chatsDisplayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: chatsDisplayedColumns;"></tr>

                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell" [attr.colspan]="chatsDisplayedColumns.length">
                                                    No records found.
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="chat_desc">
                                    <router-outlet></router-outlet>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #groupDialog>
    <div class="chat_nurshing_modal">
        <div id="editModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Create Group
                        </h5>
                        <button type="button" class="btn-close" (click)="closeDialog()">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                            <div class="cardBox">
                                <div class="profile_pic">
                                    <div class="outerBox" *ngFor="let selection of selection.selected">
                                        <div class="imgBox">
                                            <img class="img-fluid profile-pic" *ngIf="!selection.image || selection.image == 'null'" [src]="getDummyImage(selection.role)" alt="">
                                            <img class="img-fluid profile-pic" *ngIf="selection.image && selection.image != 'null'" [src]="selection.image" >
                                        </div>
                                        <span class="title">{{ selection.name }}</span>
                                        <a class="remove_icon" (click)="selectHandler(selection)"><i
                                                class="fa-solid fa-xmark"></i></a>
                                    </div>
                                </div>

                                <div class="tab_btn">
                                    <a class="nurse_btn active" (click)="changeUserType(1)"
                                        [ngClass]="{'active': selectedUserType == 1}">Physician</a>
                                    <a class="nurse_btn" (click)="changeUserType(2)"
                                        [ngClass]="{'active': selectedUserType == 2}">Nurses</a>
                                    <a class="nurse_btn" (click)="changeUserType(3)"
                                        [ngClass]="{'active': selectedUserType == 3}">Others</a>
                                </div>

                                <div class="form-group mb-0">
                                    <input type="text" class="form-control" [(ngModel)]="groupSearch"
                                        (keyup)="applyGroupFilter($event)">
                                    <a class="cursor"><svg xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 19.238 19.242">
                                            <path id="Icon_ionic-ios-search" data-name="Icon ionic-ios-search"
                                                d="M23.512,22.343l-5.35-5.4A7.625,7.625,0,1,0,17,18.114L22.32,23.48a.823.823,0,0,0,1.162.03A.829.829,0,0,0,23.512,22.343ZM12.17,18.18a6.021,6.021,0,1,1,4.258-1.763A5.984,5.984,0,0,1,12.17,18.18Z"
                                                transform="translate(-4.5 -4.493)" fill="#656565" />
                                        </svg></a>
                                </div>

                                <div class="users-list-group"
                                    [ngClass]="{'d-block': selectedUserType == 1, 'd-none': selectedUserType != 1}">
                                    <div class="table-responsive">
                                        <table mat-table [dataSource]="physiciansDataSource" class="table mat-elevation-z8">
                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div class="chat_create_box">
                                                        <div class="chat_person">
                                                            <img *ngIf="!element.image || element.image == 'null'"
                                                                [src]="getDummyImage(element.role)" class="img-fluid"
                                                                alt="">
                                                            <img *ngIf="element.image && element.image != 'null'"
                                                                [src]=element.image class="img-fluid">
                                                            <span>{{element.name}}</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </ng-container>
    
                                            <ng-container matColumnDef="select">
                                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        <mat-checkbox (click)="$event.stopPropagation()"
                                                            (change)="selectHandler(row)" [checked]="selection.isSelected(row)">
                                                        </mat-checkbox>
                                                    </mat-cell>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                                                    No records found.
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="users-list-group"
                                    [ngClass]="{'d-block': selectedUserType == 2, 'd-none': selectedUserType != 2}">
                                    <div class="table-responsive">
                                        <table mat-table [dataSource]="nurseDataSource" class="table mat-elevation-z8">
                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div class="chat_create_box">
                                                        <div class="chat_person">
                                                            <img *ngIf="!element.image || element.image == 'null'"
                                                                [src]="getDummyImage(element.role)" class="img-fluid"
                                                                alt="">
                                                            <img *ngIf="element.image && element.image != 'null'"
                                                                [src]=element.image class="img-fluid">
                                                            <span>{{element.name}}</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="select">
                                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                                <mat-cell *matCellDef="let row">
                                                    <mat-checkbox (click)="$event.stopPropagation()"
                                                        (change)="selectHandler(row)" [checked]="selection.isSelected(row)">
                                                    </mat-checkbox>
                                                </mat-cell>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                                                    No records found.
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="users-list-group"
                                    [ngClass]="{'d-block': selectedUserType == 3, 'd-none': selectedUserType != 3}">
                                    <div class="table-responsive">
                                        <table mat-table [dataSource]="othersDataSource" class="table mat-elevation-z8">

                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div class="chat_create_box">
                                                        <div class="chat_person">
                                                            <img *ngIf="!element.image || element.image == 'null'"
                                                                [src]="getDummyImage(element.role)" class="img-fluid"
                                                                alt="">
                                                            <img *ngIf="element.image && element.image != 'null'"
                                                                [src]=element.image class="img-fluid">
                                                            <span>{{element.name}}</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="select">
                                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                                <mat-cell *matCellDef="let row">
                                                    <mat-checkbox (click)="$event.stopPropagation()"
                                                        (change)="selectHandler(row)" [checked]="selection.isSelected(row)">
                                                    </mat-checkbox>
                                                </mat-cell>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                                                    No records found.
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                    </div>
                    <div class="pay_submit_box">
                        <button type="button" class="cancel_btn" (click)="closeDialog()">
                            Cancel
                        </button>
                        <span>
                            <button type="button" class="save_btn" (click)="createGroup()" [disabled]="selection.selected.length < minAllowedUsers">
                                Create
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>