.chat_details_box{
    .chat_desc{
        width: 100%;
        .tab-content{
            .title_box{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #7070703B;

                .profile_title{
                    color: #272727;
                    font-weight: 500;
                    font-size: 18px;
                    padding: 9px 0px 9px 25px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    span{
                        width: 30px;
                        min-width: 30px;
                        height: 30px;
                        display: inline-block;
                        border-radius: 50%;
                        margin-right: 7px;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                    .chat_uername{
                        display: block;
                        width: auto;
                    }
                }

                .profile_filter_icon{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    min-width: 125px;

                    a{
                        width: 28px;
                        height: 28px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #70707026;
                        svg{
                            width: 12px;
                        }
                    }
                }
            }
            
            .content_box{
                padding: 20px 25px;
                max-height: 500px;
                overflow: auto;
                min-height: 385px;
            
                .sender_box{
                    display: flex;
                    max-width: 650px;
                    width: 100%;
                    .imgBox{
                        margin-right: 10px;
                        img{
                            width: 35px;
                            min-width: 35px;
                            height: 35px;
                            border-radius: 50%;
                        }
                    }
                    .text_box{
                        padding-left: 12px;
                        h6{
                            text-align: right;
                            color: #9b9b9b;
                            font-size: 12px;
                            font-weight: 500;
                        }
                        .text_inner_box{
                            background-color: #DDDDDD45;
                            color: #fff;
                            padding: 10px;
                            position: relative;
                            margin-top: 6px;
                            img{
                                width: 100px;
                            }
                            &.arrow-left::after{
                                content: " ";
                                position: absolute;
                                left: -15px;
                                top: 0px;
                                border-top: 0px solid transparent;
                                border-right: 15px solid #DDDDDD45;
                                border-left: none;
                                border-bottom: 15px solid transparent;
                            }

                            p{
                                color: #605f5f;
                            }
                        }
                    }
                }

                .reciever_box{
                    display: flex;
                    max-width: 550px;
                    margin-left: auto;
                    width: 100%;
                    margin-top: 10px;
                    .imgBox{
                        margin-right: 10px;
                        img{
                            width: 35px;
                            height: 35px;
                            min-width: 35px;
                            border-radius: 50%;
                        }
                    }
                    .text_box{
                        padding-right: 20px;
                        margin-left: auto;
                        h6{
                            text-align: left;
                            color: #9b9b9b;
                            font-size: 12px;
                            font-weight: 500;
                            margin-bottom: 0;
                        }
                        .text_inner_box{
                            background-color: #E8F8F8;
                            color: #fff;
                            padding: 10px;
                            position: relative;
                            margin-top: 0px;
                            img{
                                width: 100px;
                            }
                            &.arrow-left::after{
                                content: " ";
                                position: absolute;
                                right: -15px;
                                top: 0px;
                                border-top: 0px solid transparent;
                                border-right: none;
                                border-left: 15px solid #E8F8F8;;
                                border-bottom: 15px solid transparent;
                            }

                            p{
                                color: #605f5f;
                                word-break: break-all;
                            }
                        }
                    }
                }
            }
            .write_message_box{
                .write_inner_box{
                    padding: 20px 25px;
                    .form-group{
                        .input_box{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .form-control{
                                background: #F6F7FB;
                                border-right: none;
                                color: #9B9B9B;
                                font-weight: 400;
                                font-size: 15px;
                                padding: 10px 15px;
                                border-color: #d9d9d9;
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                                &:focus{
                                    border-color: #d9d9d9;
                                }
                            }

                            .input_btn_box{
                                display: flex;
                                align-items: center;
                                background: #F6F7FB;
                                padding: 7px 15px;
                                border-top: 1px solid #d9d9d9;
                                border-bottom: 1px solid #d9d9d9;
                                border-right: 1px solid #d9d9d9;
                                border-left: none;
                                border-top-right-radius: 6px;
                                border-bottom-right-radius: 6px;
                                a{
                                    display: inline-block;
                                    width: 25px;
                                    text-align: center;
                                    svg{
                                        width: 14px;
                                    }
                                }

                                .warning_btn{
                                    svg{
                                        width: 4px;
                                    }
                                    &.active{
                                        svg{
                                            path{
                                                fill: red;
                                            }
                                        }
                                    }
                                }

                                .voice_btn{
                                }

                                .voice_btn_active{
                                    path{
                                        fill: green;
                                    }
                                }

                                .send_mess_btn{
                                    width: 29px;
                                    height: 29px;
                                    border-radius: 50%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background: #64BD05;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.important-message {
    color: white !important;
}